@import url("https://fonts.googleapis.com/css2?family=Nova+Square&display=swap");
:root {
    background-color: rgb(29, 26, 26);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nova Square", cursive;
}
ul {
    list-style: none;
}
h1 {
    font-size: 50px;
    color: #fff;
    margin: 0 0 5rem 0;
}
h2 {
    font-size: 45px;
    margin-bottom: 4rem;
}

.mt{
    margin-top: 20px;
}

.text-white{
    color: #fff;
}

.container {
    padding: 10px 17px;
    max-width: 1000px;
    margin: 0 auto;
}

.fullscr {
    height: 97vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-center {
    justify-content: center;
    align-items: center;
}
.text-center {
    text-align: center;
}
.hidden {
    display: none;
}
.btn {
    outline: none;
    border: transparent;
    display: inline-block;
    font-size: 30px;
    padding: 1.5rem 0;
    width: 25rem;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #fff;
    background: linear-gradient(90deg, rgb(18, 92, 255) 0%, rgb(0, 102, 255) 100%);
    border-radius: 5px;
    transition: 0.2s !important;
}
.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}
.scale:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(8, 114, 244, 0.6);
    transition: transform 150ms;
    transform: scale(1.05);
}

.white{
    color: #fff;
    margin-top: 60px;
}

 input{
    margin-bottom: 3rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: none;
    outline: none;
    transition: .4s;
    box-shadow: 0 0 15px rgba(86,185,235,0.8);
 }
 input:focus{
    box-shadow: 0 0 35px rgba(86,185,235,0.8);
 }

 @media(max-width: 992px){
    .btn {
        font-size: 1.6rem;
        padding: 1.4rem 0;
        width: 23rem;
    }
 }


 @media(max-width: 576px){
    .btn {
        font-size: 1.4rem;
        padding: 1.2rem 0;
        width: 17rem;
    }
 }


 @media(max-width: 576px){
    h1 {
        font-size: 30px;
    }
    #home h1 {
        margin-bottom: 3rem;
    }
    h2 {
        font-size: 30px;
    }
    input {
        width: 100%;
        display: block;
        padding: 1rem;
        font-size: 1.5rem;
    }
 }